body {
	font-size: 16px;
	font-family: 'Times', serif;
	line-height: 1.8em;
}

/** HEADER **/
#header-nav {
	background-color: #ff6600;
	border-radius: 0;
	border: 0;
}

.navbar-default .navbar-brand {
	font-family: "Times New Roman", serif;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	text-shadow: 1px 1px 1px #222;
	font-size: 2em;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
 }

 #nav-list a {
 	color: #000000;
 }

 #nav-list a:hover {
  background: #ffffff;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 2px solid #000000;
}

/** END OF HEADER **/

/** MAIN CONTENT **/
.section-background-color {
	background-color: #ff6600;
}

#top {
	font-weight: bold;
	margin-bottom: 35px;
}

.internal-link {
	text-transform: uppercase;
	color: #000000;
	text-decoration: underline;
}
/** END OF MAIN CONTENT **/


/** MEDIA QUERIES **/

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 0.8em;
    margin-right: 5px;
  }
  /* End Header */

}

/** END OF MEDIA QUERIES **/